<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .top-bar {
            display: flex;
            justify-content: space-between;
        }
        .links a {
            margin-left: 15px;
            margin-right: 15px;
        }
        .container {
            margin-left: 20px;
        }
        td {
            width: 250px;
        }
        table {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <h1>Welcome {{user.first_name}}!</h1>
            <div class="links">
                <a href="/recipes/new" class="new-recipe">Create</a>
                <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
        <p>These are the recipes!</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Under 30 Minutes</th>
                <th>Actions</th>
            </tr>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                {% if recipe.under30 == 1 %}
                <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
                <td>
                    <a href="/recipes/{{recipe.id}}">View Instructions</a>
                    {% if recipe.user.id == session.uuid %}
                    <a href="/recipes/edit/{{recipe.id}}">Edit</a>
                    <a href="/recipes/destroy/{{recipe.id}}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}    
        </table>
        <div>
            <h2>Logged in user's info</h2>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>
            <p>{{ user.email }}</p>
        </div>
    </div>
</body>
</html>